$mobile: 375px;
$desktop: 1440px;

// $orange: hsl(25, 97%, 53%);
// $white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
// $dark-blue: hsl(213, 19%, 18%);
// $very-dark-blue: hsl(216, 12%, 8%);
$font-size: 28px;
$font-weight-normal: 800;
$font-weight-bold: 700;

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

